/*layout*/
body {
  width: 100%;
  height: 100%;
  margin: 0;

  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;

  color: rgba(23, 21, 20, 1);
  background-color: rgba(250, 250, 250, 0.5);
}


/* =========================
   SITE HEADER
========================= */
.siteHeader {
  /* Box Model */
  padding: 16px;

  /* Layout Interno */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainNav .navList {
  display: flex;
  gap: 1rem;
}

.navLink {
  /* Apariencia */
  color: rgb(137, 147, 137);
}

/* =========================
   HERO
========================= */
.hero {
  /* Box Model */
  padding: 64px;

  /* Layout Interno */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;

  /* Apariencia */
  background-image:
    linear-gradient(rgba(157, 157, 157, 0.3), rgba(0, 0, 0, 0)),
    url(Assets/Hero4.png);
  background-position: center;
  background-repeat: no-repeat;
}

.heroTitle {
  /* Apariencia */
  font-size: 64px;
  font-weight: lighter;
  color: #fff;
}

.heroText {
  /* Apariencia */
  font-size: 24px;
  font-weight: lighter;
  color: #fff;
}

.heroButton {
  /* Apariencia */
  padding: 12px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: fit-content;
}

/* =========================
   PROJECTS SECTION
========================= */
.projects {
  /* Box Model */
  padding-top: 144px;
}

.projectsArchive {
  /* Apariencia */
  background-color: rgba(244, 240, 237, 0.5);
}

/* =========================
   PROJECTS FEATURED
========================= */
.projectsFeatured {
  /* Box Model */
  padding: 32px 64px 64px 64px;

  /* Layout Interno */
  display: flex;
  gap: 20px;
  align-items: stretch;
}

.projectCard {
  /* Apariencia */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.projectCard--featured {
  flex: 3;
}

.projectCard--secondary {
  flex: 1;
}

/* =========================
   PROJECTS GRID
========================= */
.projectsGrid {
  /* Box Model */
  padding: 32px 64px 64px 64px;

  /* Layout Interno */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}

/* =========================
   PROJECT CONTENT
========================= */
.projectContent {
  /* Box Model */
  padding: 24px;
}

/* =========================
   QUOTE SECTION
========================= */
.quote {
  /* Box Model */
  padding: 144px 0;

  /* Apariencia */
  background-image:
    linear-gradient(rgba(157, 157, 157, 0.3), rgba(0, 0, 0, 0)),
    url(Assets/OctavioPaz.png);
  background-position: center;
  background-size: cover;
}

/* =========================
   NEWSLETTER
========================= */
.newsletter {
  /* Box Model */
  padding: 144px 0;
}

/* =========================
   SITE FOOTER
========================= */
.siteFooter {
  /* Box Model */
  padding: 64px;
}